@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P", cursive;
}

body {
  min-height: 100vh;
  max-width: 100vw;
  background-color: rgb(42, 71, 146);
}

.parallax-background {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parallax-background img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  pointer-events: none;
}

.parallax-background:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(62, 92, 168, 0.805);
  z-index: 0;
  mix-blend-mode: color;
}

#city {
  z-index: 1;
  top: 300px;
}

#mountain {
  z-index: 3;
  top: 100px;
}

#wooper {
  z-index: 2;
  width: 110%;
  object-fit: none;
  margin-left: -80%;
  margin-top: 200px;
}

#sky {
  z-index: 0;
  height: 100vh;
}

#upahBeats {
  /* font-family: "Neonderthaw", cursive; */
  position: relative;
  font-size: 3rem;
  z-index: 2;
  top: 300px;
  color: white;
  font-weight: normal;
  animation: neonize 1s ease-in-out infinite alternate;
}

@keyframes neonize {
  from {
    text-shadow: 0 0 4px #fff, 0 0 10px #fff, 0 0 30px #ff319b, 0 0 50px #ff319b,
      0 0 70px #ff319b, 0 0 90px #ff319b;
  }
  to {
    text-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 15px #ff319b, 0 0 25px #ff319b,
      0 0 35px #ff319b, 0 0 45px #ff319b;
  }
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  z-index: 4;
  overflow: hidden;
  background-color: #333;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 1.5rem 3rem;
  text-decoration: none;
  font-size: 17px;
}

#navbar a span {
  text-decoration: springgreen underline;
}

#navbar span:hover {
  animation: neonizegreen 1s ease-in-out infinite alternate;
}

@keyframes neonizegreen {
  from {
    text-shadow: 0 0 2px #fff, 0 0 8px #fff, 0 0 20px #34a645, 0 0 40px #34a645,
      0 0 70px #34a645, 0 0 90px #34a645;
  }
  to {
    text-shadow: 0 0 1px #fff, 0 0 4px #fff, 0 0 10px #34a645, 0 0 20px #34a645,
      0 0 35px #34a645, 0 0 45px #34a645;
  }
}

#navbar a:hover {
  animation: neonizehover 0.5s ease-in-out infinite alternate;
}

@keyframes neonizehover {
  from {
    text-shadow: 0 0 2px #fff, 0 0 8px #fff, 0 0 20px #47e0fb, 0 0 40px #47e0fb,
      0 0 70px #47e0fb, 0 0 90px #47e0fb;
  }
  to {
    text-shadow: 0 0 1px #fff, 0 0 4px #fff, 0 0 10px #47e0fb, 0 0 20px #47e0fb,
      0 0 35px #47e0fb, 0 0 45px #47e0fb;
  }
}

#navbar a.active {
  background-color: #04150f;
  color: white;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #5a556b;
  padding-bottom: 10rem;
}

.player-title {
  width: 50vw;
  background-color: rgb(124, 152, 177);
  line-height: 2rem;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  padding: 1rem 1rem 2rem;
  margin-bottom: -1.5rem;
  margin-top: 4rem;
  border-top: ridge white 10px;
  border-left: ridge white 10px;
  border-right: ridge white 10px;
  border-radius: 20px;
  font-weight: normal;
  animation: neonizehover 1s ease-in-out infinite alternate;
}

.player-title h4 {
  animation: neonize 1s ease-in-out infinite alternate;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 1px;
  border-radius: 20px;
  border: ridge 20px;
  background-color: rgb(165, 127, 127);
}

.content img {
  margin: 1rem;
  background-color: rgba(51, 51, 51, 0);
  border-radius: 20px;
  width: 12.5rem;
  align-items: center;
}

.btn:hover {
  background-color: #34021c;
}

.btn:active {
  background-color: #ff319b;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

/*POKEDEX*/

.pokedex-title {
  background-color: #333;
  color: rgb(255, 255, 255);
  font-size: 2.4rem;
  padding: 1rem 2rem 2rem;
  margin-bottom: -1.5rem;
  margin-top: 4rem;
  border-top: ridge white 10px;
  border-left: ridge white 10px;
  border-right: ridge white 10px;
  border-radius: 10px;
  font-weight: normal;
  animation: neonize 1s ease-in-out infinite alternate;
}

form {
  width: 40vw;
  background-color: rgb(124, 152, 177);
  display: flex;
  align-self: center;
  justify-content: center;
  padding: 1rem 0.5rem;
  border-radius: 20px;
  border-top: ridge white 10px;
  border-left: ridge white 10px;
  border-right: ridge white 10px;
}

#input {
  width: 30vw;
  padding: 0.5rem 1rem;
}

.pokedex-container {
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("/images/pokedexbackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-left: ridge 20px white;
  border-right: ridge 20px white;
  border-top: ridge 30px rgb(230, 221, 198);
  border-bottom: ridge 30px rgb(200, 190, 165);
  border-radius: 30px;
}

.pokedex h3 {
  color: rgb(0, 0, 0);
  font-size: 2rem;
  padding: 0.5rem 3rem;
  background-color: antiquewhite;
  border-radius: 10px;
  border-top: ridge white 10px;
  border-left: ridge white 10px;
  border-right: ridge white 10px;
  text-transform: uppercase;
}

.information {
  background-color: antiquewhite;
  padding: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  line-height: 1.4rem;
  border-top: ridge wheat 20px;
}

.information h4 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  text-decoration: double underline;
}

.abilities p {
  color: brown;
}

.stats p {
  color: rgb(97, 46, 46);
}
