@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P", cursive;
}

body {
  min-height: 100vh;
  max-width: 100vw;
  background-color: rgb(42, 71, 146);
}

.parallax-background {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parallax-background img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  pointer-events: none;
}

.parallax-background:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(62, 92, 168, 0.805);
  z-index: 0;
  mix-blend-mode: color;
}

#city {
  z-index: 1;
  top: 300px;
}

#mountain {
  z-index: 3;
  top: 100px;
}

#wooper {
  z-index: 2;
  width: 110%;
  object-fit: none;
  margin-left: -80%;
  margin-top: 200px;
}

#sky {
  z-index: 0;
  height: 100vh;
}

#upahBeats {
  /* font-family: "Neonderthaw", cursive; */
  position: relative;
  font-size: 3rem;
  z-index: 2;
  top: 300px;
  color: white;
  font-weight: normal;
  animation: neonize 1s ease-in-out infinite alternate;
}

@keyframes neonize {
  from {
    text-shadow: 0 0 4px #fff, 0 0 10px #fff, 0 0 30px #ff319b, 0 0 50px #ff319b,
      0 0 70px #ff319b, 0 0 90px #ff319b;
  }
  to {
    text-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 15px #ff319b, 0 0 25px #ff319b,
      0 0 35px #ff319b, 0 0 45px #ff319b;
  }
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  z-index: 4;
  overflow: hidden;
  background-color: #333;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 1.5rem 3rem;
  text-decoration: none;
  font-size: 17px;
  animation: neonize 3s ease-in-out infinite alternate;
}

#navbar a:hover {
  animation: neonizehover 0.5s ease-in-out infinite alternate;
}

@keyframes neonizehover {
  from {
    text-shadow: 0 0 2px #fff, 0 0 8px #fff, 0 0 20px #47e0fb, 0 0 40px #47e0fb,
      0 0 70px #47e0fb, 0 0 90px #47e0fb;
  }
  to {
    text-shadow: 0 0 1px #fff, 0 0 4px #fff, 0 0 10px #47e0fb, 0 0 20px #47e0fb,
      0 0 35px #47e0fb, 0 0 45px #47e0fb;
  }
}

#navbar a.active {
  background-color: #090206;
  color: white;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #54042d;
  padding-bottom: 1000px;
}

.welcome h2 {
  background-color: #34021c;
  border-radius: 20px;
  text-align: center;
  text-decoration-line: overline;
  font-size: 1rem;
  color: #b3dadb;
  padding: 3rem;
  margin: 2rem 3rem;
  border-style: groove;
}

.welcome h2 span {
  line-height: 2rem;
  font-size: 1.4rem;
  color: #81d2d4;
  animation: neonizehover 0.5s ease-in-out infinite alternate;
}
#isplaying.active {
  font-size: 1rem;
  display: flex;
  align-self: flex-start;
  position: relative;
  line-height: 1.6rem;
  top: 1.2rem;
  color: rgb(255, 255, 255);
  height: auto;
  align-self: left;
  padding: 0.5rem 4rem;
  border-radius: 20px;
  border-top: ridge white 20px;
  border-left: ridge white 15px;
  border-right: ridge white 15px;
  background-color: #000000;
}

#isplaying span {
  margin-right: 2rem;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 1px;
  border-radius: 20px;
  border: ridge 20px;
  background-color: rgb(165, 127, 127);
}

.content img {
  margin: 1rem;
  background-color: rgba(51, 51, 51, 0);
  border-radius: 20px;
  width: 12.5rem;
  align-items: center;
}

.btn:hover {
  background-color: #34021c;
}

.btn:active {
  background-color: #ff319b;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
    width: 13rem;
  }
  50% {
    width: 13.4rem;
  }
  to {
    transform: rotate(359deg);
    width: 13.2rem;
  }
}
